<!DOCTYPE html>
<html>
<head>
    <title>Favorite</title>
</head>
<body>
    <div style="text-align: center; color: steelblue; background-color: bisque; font-family: sans-serif; border-radius: 10px;">
        <h2>Favorite Fruits and vegetables</h2>
        <p>Here is fruits and vegetables that i love!</p>
    </div>
    <div style="margin-top: 40px; text-align: center; ">
        <table style="font-family: sans-serif; color: aquamarine; background-color: steelblue; border-radius: 10px;">
            <thead>
                <tr>
                    <th>
                        Fruits
                    </th>
                    <th>
                        Vegetables
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Apple
                    </td>
                    <td>
                        Potatoes
                    </td>
                </tr>
                <tr>
                    <td>
                        Watermelon
                    </td>
                    <td>
                        Carrot
                    </td>
                </tr>
                <tr>
                    <td>
                        Poultry
                    </td>
                    <td>
                        Tomato
                    </td>
                </tr>
                <tr>
                    <td>
                        Strawberry
                    </td>
                    <td>
                        Babied
                    </td>
                    
                </tr>
        
            </tbody>
            
        </table>
    </div>

    <div style="text-align: center; text-decoration: none; color: steelblue; font-family: sans-serif;">
        {% extends 'base.html' %}
        {% block content %}
    </div>
    {% endblock content %}
</body>
</html>